@tailwind base;
@tailwind components;
@tailwind utilities;

// Import custom Sass variables
@import './variables';

// Global resets or typography overrides
body {
  @apply font-sans text-gray-900 bg-white;
}

a {
  @apply text-blue-600 hover:underline transition-colors duration-200;
}

// Example utility class you want to reuse manually
.button-primary {
  background: $primary-button-color;
  border-radius: 3px;
  padding: 5px;
}

.button-landing{
  border: 1px solid $primary-button-color;
  border-radius: 4px;

  border: 1px solid transparent;
  border-image: $secondary-button-color;
  border-image-slice: 1;

  background: $secondary-button-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-color{
  background-color: $primary-color;
}

.gradient-textcolor{
  background: $secondary-button-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-bg-colors{
  background-image: linear-gradient(to bottom right, $primary-color, $primary-color, #1e293b);
}

.product-card{
  background-image: radial-gradient(50% 50% at 15.31% 50.26%,#0f182d 0,#0b1120 100%);
}

.final-part2{
  background-image: url(https://tradfi.multibankgroup.com/_next/image?url=%2Fshared%2Fstriped-background-colored.webp&w=3840&q=100);
  background-color: $primary-color ;
  background-position: inherit;
}