
$primary-color: #0d1020; // Dark blue
$accent-color: #facc15;  // Yellow
$primary-button-color: linear-gradient(88.9deg,#467bff,#75d9d9 50%,#75d9d9 75%,#467bff 120%);
$secondary-button-color: linear-gradient(88.9deg,#467bff 33.43%,#75d9d9 103.55%);